# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# VitePress
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/.temp/

# WebStorm / IDEA
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
